.error-message {
    background-color: #f8d7da;
    border: 5px solid #ffffff;
    border-radius: 10px;
    color: #721c24;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .error-message strong {
    display: block;
    margin-bottom: 10px;
  }
  
  .error-message a {
    color: #721c24;
    text-decoration: underline;
    font-weight: normal;
  }
  
  .error-message a:hover {
    color: #4a1014;
  }
  